<div class = "container-fluid">
  <div class="row">
    <!-- second-nav-bar for heading -->
    <div class="row second-nav" >
      <!-- menu icon -->
      <a ui-sref="main.navbar" ><span class="float-xs-left"><i class="fa fa-align-justify menuIcon" aria-hidden="true"></i></span></a>
      <!-- title -->
      <div class="float-xs-left" style="margin-left:22px!important">
        <h6>Farmer/Production</h6>
      <h4>Crop & Yield Forecast vs Actual</h4>
      </div>
    </div>

    <!-- Third nav-bar for buttons -->
    <nav class="navbar navbar-light third-nav">
      <ul class="nav navbar-nav new-nav">
        <li class="nav-item ">
          <button type="button" class="btn btn-primary  text-center"><span class="fa fa-arrow-left buttonIcon" aria-hidden="true"></span></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary new-button">Commodity <span class="fa fa-angle-down downIcon" aria-hidden="true" ></span></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary new-button">All<span class="fa fa-angle-down downIcon" aria-hidden="true" ></span></button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary  text-center"><span class="fa fa-search buttonIcon" aria-hidden="true"></span></button>
        </li>
      </ul>
      <span class="second-circle float-xs-right plusIcon hidden-sm-down  "><i class="fa fa-plus" aria-hidden="true" style="margin-top:9px"></i></span>
    </nav>
  </div>
</div>
