<div class="front-position">
  <div class="col-md-3 col-xs-12 vertical-nav nav-fix nav-color" >
    <ul class="nav nav-pills nav-stacked ">
      <li class="nav-item title">
        <a class="nav-link new-menuIcon" ui-sref="main">Farmer Menu <span class="float-xs-right"><i class="fa fa-align-justify menu" aria-hidden="true"></i></span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" ui-sref="#">Farmer Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" ui-sref="#">Production</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" ui-sref="#">Food Safety</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" ui-sref="#">Traceability</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" ui-sref="#">Recall/Incident Tracking</a>
      </li>
    </ul>
  </div>
</div>
